python-dotenv
python-multipart
pytest
pandas
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
types-PyYAML
tqdm
ensure
joblib
pymongo[srv]==3.12
pymongo
certifi
dill
dagshub
fastapi

# -e .